<div id="home-form">
  <%= form_tag("/incidents", method: "post") do %>
    <div class="vertical-submit-above"><%= submit_tag("Skwandr") %></div>
    <div>
      <%= number_field(:incident, :duration, :value => 30) %>
      minutes
    </div>
  <% end %>
</div>