<div id="status">
  <article>
    Skwandr is under <a href="https://github.com/falquan/skwandr/tree/develop">active development</a> and may be broken at any time.
  </article>
  <aside>
    <h2>Changelog</h2>
    <div id="changelog"></div>
  </aside>
</div>