<div id="status">
  <article>
    <p>Skwandr is under <a href="https://github.com/falquan/skwandr/tree/develop">active development</a> and may be broken at any time.</p>
    <p><img src="/images/known-issue.jpg" alt="Obi Wan Kenobi: Now that's a known issue I haven't seen mentioned in a long time" /></p>
    <p>Found a :( or have a request? Use the <a href="https://github.com/falquan/skwandr/issues">GitHub tracker</a>!</p>
  </article>
  <aside>
    <h2>Changelog</h2>
    <div id="changelog"></div>
  </aside>
</div>