<div id="status">
  <article>
    <p>Skwandr is under <a href="https://github.com/falquan/skwandr/tree/develop">active development</a> and may be broken at any time.</p>
    <p><img src="/images/known-issue.jpg" alt="Obi Wan Kenobi: Now that's a known issue I haven't seen mentioned in a long time" /></p>
    <p>Found a :( or have a request? Use the <a href="https://github.com/falquan/skwandr/issues">GitHub tracker</a>!</p>
  </article>
  <aside>
    <h2>Changelog</h2>
    <div id="changelog"></div>
    <script id="changelog-template" text="text/x-handlebars-template">
      <ul>
        {{#each checkin}}
          <li>
            <div>{{commit.author.date}}</div>
            <div>{{commit.message}}</div>
            <div>
              <a href="{{html_url}}">
                {{sha}}
              </a>
            </div>
            <div>
            {{#if author}}
              <a href="{{author.html_url}}">{{author.login}}</a>
            {{else}}
              {{commit.author.email}}
            {{/if}}
            </div>
          </li>
        {{/each}}
      </ul>
    </script>
  </aside>
</div>