// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home-form {
	font-size: 3em;
	border: none;
	text-align: center;

	.vertical-submit-above {
		margin-bottom: 1em;
	}

	input {
	}
	input[type=submit] {
		border: none;
		background-color: orangered;
	}
	input[type=number] {
		text-align: right;
		width: 3em;
	}
}